.Register-Field{
  border: none;
  background: rgba(0, 0, 0, .25);
  color: #fdfdfd;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius:7px;
  width: 100%;
  transition: all .1s linear;
}

label{
  color:(0, 0, 0, .25);
}

.Register-Field:focus {
  box-shadow: 0 4px 4px rgba(0,0,0,.5);
  outline: none;
}

.Register-Error{
  margin-left: .5rem;
  margin-top: .5rem;
  color: red;
}

.Register-Btn{
  background: #6719E7;
  color: #fdfdfd;
  padding: .5rem 2rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.Register-Btn:hover{
 cursor: pointer; 
}